* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1 h2 h3 h4 h5 h6 p ul ol {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Display {
    font-size: 30px;
    
}

.errorORsomething {
    font-size: 10PX;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 25px;
}


.doinumber {
    display: none;
}
.tinNumber {
    display: none;
}
.charNumber {
    display: none;
}
.pTwo {
    display: none;

}

.pONE {
    display: none;
}